# ignore autogenerate container's config directory

bamboo/
cassandra/
couchbase/
couchdb/
db2/
elasticsearch/
jenkins/
mongo/
mysql/
mysql-workbench/
nginx/
pgadmin/
portainer-data/
postgres/
rabbitmq/
redis/